/* Especificidad (0,0,1)*/
body{
    display:grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas: 
        "header header header"
        "section section section"
        "footer footer footer";
}

/* Especificidad (0,0,1)*/
header{
    grid-area: header;

}

/* Especificidad (0,0,1)*/
section {
    grid-area: section;
}


/* Especificidad (0,0,1)*/
footer{
    grid-area:footer;
}
